<p>grid works!</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="namChkHecli">
      <th mat-header-cell *matHeaderCellDef> نام چک دلیست. </th>
      <td mat-cell *matCellDef="let element"> {{element.namChkHecli}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="unitCehckListsHecli">
      <th mat-header-cell *matHeaderCellDef> unitCehckListsHecli </th>
      <td mat-cell *matCellDef="let element"> {{element.unitCehckListsHecli}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="namDepartmentHecli">
      <th mat-header-cell *matHeaderCellDef> namDepartmentHecli </th>
      <td mat-cell *matCellDef="let element"> {{element.namDepartmentHecli}} </td>
    </ng-container>
  
 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  